DAL/Web References/WebReference_staff/StaffManagementV2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetStaffIDByUserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStaffIDByUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStaffIDByUserIDResult" type="tns:ArrayOfBasicStaffInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBasicStaffInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BasicStaffInfo" nillable="true" type="tns:BasicStaffInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BasicStaffInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StaffNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StaffEngName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StaffChiName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StaffIDNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PersonID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DepartmentID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PositionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SecurityGroupID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LeaveClass" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JoinDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="QuitDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="MainBankID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MainBankAC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AlternateBankID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AlternateBankAC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentMethod" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityGroupCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmploymentNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EmploymentID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SupervisorID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DateOfBirth" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="BonusSchemeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ContractID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ContractGroupID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ContractGroupCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZoneCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZoneDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GeneralRemarks" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PayrollType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserFullName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReferralStaffID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyJoinDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="NickName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ContractStartDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ContractEndDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RankID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PositionCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PositionDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RankCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RankDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmploymentInfoByUserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="piUserID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmploymentInfoByUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmploymentInfoByUserIDResult" type="tns:ArrayOfEmploymentInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmploymentInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EmploymentInfo" nillable="true" type="tns:EmploymentInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EmploymentInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BasicEmploymentInfo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ContractName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EmploymentNumber" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RelatedEmploymentID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="RelatedEmploymentNumber" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="StaffID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="JoinDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="QuitDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LeaveClass" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Position" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PositionCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StaffNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StaffNameE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StaffNameC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StaffName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NickName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OtherName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContractCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ContractNumber" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ShiftTimeFrom" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="ShiftTimeTo" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="ShiftCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="PayrollType" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PayMethod" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="HolidayType" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CommenceDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="TerminationDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="strCommenceDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="strTerminationDate" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsDailyBasis" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsMonthEndCutOff" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="AlternativeBankAccount" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="EmploymentValidFrom" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="EmploymentValidTo" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="SecurityGroupID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="StaffStatus" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ModifiedDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="TerminateType" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="TerminateReason" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="NoticeOfTerminate" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="WorkingHour" type="s:double" />
              <s:element minOccurs="0" maxOccurs="1" name="SecurityGroupCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="WorkingHourPattern" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsNewContract" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="SalaryType" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PayScaleType" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PayScalePoint" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PayScaleFraction" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="PersonID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="GenerateMonth" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="GenerateSequence" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsLastStaffForSeq" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="EmploymentID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="WorkingHourHalfDay" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="WorkingHourAM" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="WorkingHourPM" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="IsCalculateUsing713" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="TerminationNoticePeriod" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TerminatedBy" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ContractGroupCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="HasNoBenefitMPF" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="HasNoBenefitLeave" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="SupervisorStaffID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="EmpNumStaffName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsCalcLeaveUseFirstCommenceDate" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ApprovalGroupID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="OUPositions" type="tns:ArrayOfEmployment_OrgUnit" />
              <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FirstEmploymentID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentDesc" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstEmploymentNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RankCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsSelfEmployed" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="RankID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="HourlyWages" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="IsWagesDependOnShift" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="RankSortSeq" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PositionSortSeq" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="PayScalePointStr" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MonthlyWages" type="s:double" />
              <s:element minOccurs="0" maxOccurs="1" name="DailyWagesFormula" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="JobType" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="LeaveCutOffType" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="SalaryBasisID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ContractStartDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="ContractEndDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="EmploymentTransactionType" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ContractPeriodByMonth" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="BackPayEffectiveDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="BackPayWages" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="ProbationDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="RankDescription" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LeaveClassDescription" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RenewalDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="IsOverrideContractCriteria" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="ShiftDescription" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ShiftBankOnTime" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="ShiftBankOffTime" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="IDNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EmploymentTransactionTypeDescription" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ContractType" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ContractTypeDescription" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="WorkingPatternType" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="RosterCycleID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MedicalPlanTypeID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MedicalPlanOpt" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsGratuityEligibility" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="FirstStaffID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="NeedUpdatePreEmpoymentTerminateID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="NeedUpdateNextEmpoymentCommenceID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="OTExpiryDayValue" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="OTExpiryDayUnit" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsGratuityDeductEmployerMPF" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="RosterGroupID" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="PositionRemark1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PositionRemark2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PositionRemark3" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BasicEmploymentInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ContractID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZoneCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZoneDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PositionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AreaID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StationDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Wages" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMain" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPartTime" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCL" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OldWages" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ShiftID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsHourlyBasis" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PositionDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Wages28" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="IsContinuousEmployment" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="StaffPhoto" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="PhotoPath" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEmployment_OrgUnit">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employment_OrgUnit" nillable="true" type="tns:Employment_OrgUnit" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Employment_OrgUnit">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EmploymentID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrgUnitPositionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMainOrgUnit" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ProgramSourceAmount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ProgramSourcePercent" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="OUPosition" type="tns:OrgUnitPosition" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrgUnitPosition">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrgUnitID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PositionID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Level" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HeadCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SortSeq" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentOrgUnitPositionID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PositionDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NoOfStaff" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ParentOrgUnitPositionDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmploymentIDs" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="StaffNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmploymentInfoByUserIDAndValidDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="piUserID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmploymentInfoByUserIDAndValidDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmploymentInfoByUserIDAndValidDateResult" type="tns:EmploymentInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfBasicStaffInfo" nillable="true" type="tns:ArrayOfBasicStaffInfo" />
      <s:element name="ArrayOfEmploymentInfo" nillable="true" type="tns:ArrayOfEmploymentInfo" />
      <s:element name="EmploymentInfo" nillable="true" type="tns:EmploymentInfo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStaffIDByUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetStaffIDByUserID" />
  </wsdl:message>
  <wsdl:message name="GetStaffIDByUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetStaffIDByUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmploymentInfoByUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmploymentInfoByUserID" />
  </wsdl:message>
  <wsdl:message name="GetEmploymentInfoByUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmploymentInfoByUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmploymentInfoByUserIDAndValidDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmploymentInfoByUserIDAndValidDate" />
  </wsdl:message>
  <wsdl:message name="GetEmploymentInfoByUserIDAndValidDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmploymentInfoByUserIDAndValidDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetStaffIDByUserIDHttpPostIn">
    <wsdl:part name="UserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStaffIDByUserIDHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfBasicStaffInfo" />
  </wsdl:message>
  <wsdl:message name="GetEmploymentInfoByUserIDHttpPostIn">
    <wsdl:part name="piUserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEmploymentInfoByUserIDHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfEmploymentInfo" />
  </wsdl:message>
  <wsdl:message name="GetEmploymentInfoByUserIDAndValidDateHttpPostIn">
    <wsdl:part name="piUserID" type="s:string" />
    <wsdl:part name="date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEmploymentInfoByUserIDAndValidDateHttpPostOut">
    <wsdl:part name="Body" element="tns:EmploymentInfo" />
  </wsdl:message>
  <wsdl:portType name="StaffManagementV2Soap">
    <wsdl:operation name="GetStaffIDByUserID">
      <wsdl:input message="tns:GetStaffIDByUserIDSoapIn" />
      <wsdl:output message="tns:GetStaffIDByUserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmploymentInfoByUserID">
      <wsdl:input message="tns:GetEmploymentInfoByUserIDSoapIn" />
      <wsdl:output message="tns:GetEmploymentInfoByUserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmploymentInfoByUserIDAndValidDate">
      <wsdl:input message="tns:GetEmploymentInfoByUserIDAndValidDateSoapIn" />
      <wsdl:output message="tns:GetEmploymentInfoByUserIDAndValidDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="StaffManagementV2HttpPost">
    <wsdl:operation name="GetStaffIDByUserID">
      <wsdl:input message="tns:GetStaffIDByUserIDHttpPostIn" />
      <wsdl:output message="tns:GetStaffIDByUserIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmploymentInfoByUserID">
      <wsdl:input message="tns:GetEmploymentInfoByUserIDHttpPostIn" />
      <wsdl:output message="tns:GetEmploymentInfoByUserIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmploymentInfoByUserIDAndValidDate">
      <wsdl:input message="tns:GetEmploymentInfoByUserIDAndValidDateHttpPostIn" />
      <wsdl:output message="tns:GetEmploymentInfoByUserIDAndValidDateHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StaffManagementV2Soap" type="tns:StaffManagementV2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStaffIDByUserID">
      <soap:operation soapAction="http://tempuri.org/GetStaffIDByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmploymentInfoByUserID">
      <soap:operation soapAction="http://tempuri.org/GetEmploymentInfoByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmploymentInfoByUserIDAndValidDate">
      <soap:operation soapAction="http://tempuri.org/GetEmploymentInfoByUserIDAndValidDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StaffManagementV2Soap12" type="tns:StaffManagementV2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStaffIDByUserID">
      <soap12:operation soapAction="http://tempuri.org/GetStaffIDByUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmploymentInfoByUserID">
      <soap12:operation soapAction="http://tempuri.org/GetEmploymentInfoByUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmploymentInfoByUserIDAndValidDate">
      <soap12:operation soapAction="http://tempuri.org/GetEmploymentInfoByUserIDAndValidDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StaffManagementV2HttpPost" type="tns:StaffManagementV2HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetStaffIDByUserID">
      <http:operation location="/GetStaffIDByUserID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmploymentInfoByUserID">
      <http:operation location="/GetEmploymentInfoByUserID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmploymentInfoByUserIDAndValidDate">
      <http:operation location="/GetEmploymentInfoByUserIDAndValidDate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StaffManagementV2">
    <wsdl:port name="StaffManagementV2Soap" binding="tns:StaffManagementV2Soap">
      <soap:address location="http://192.168.19.200:8889/ServicesWithSession/StaffManagementV2.asmx" />
    </wsdl:port>
    <wsdl:port name="StaffManagementV2Soap12" binding="tns:StaffManagementV2Soap12">
      <soap12:address location="http://192.168.19.200:8889/ServicesWithSession/StaffManagementV2.asmx" />
    </wsdl:port>
    <wsdl:port name="StaffManagementV2HttpPost" binding="tns:StaffManagementV2HttpPost">
      <http:address location="http://192.168.19.200:8889/ServicesWithSession/StaffManagementV2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>