WebServiceLayer/Web References/WebReference_Ileave_Other/ileave_other.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Test_GetList">
        <s:complexType />
      </s:element>
      <s:element name="Test_GetListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Test_GetListResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Test_GetList2">
        <s:complexType />
      </s:element>
      <s:element name="Test_GetList2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Test_GetList2Result" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CodeSetting_GetAllZone">
        <s:complexType />
      </s:element>
      <s:element name="CodeSetting_GetAllZoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodeSetting_GetAllZoneResult" type="tns:ArrayOfT_Contract_Zone" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfT_Contract_Zone">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="t_Contract_Zone" nillable="true" type="tns:t_Contract_Zone" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="t_Contract_Zone">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ContractID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ZoneCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZoneDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserInfo_GetUserInfoByUID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="uid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserInfo_GetUserInfoByUIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserInfo_GetUserInfoByUIDResult" type="tns:t_User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="t_User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PasswordHash" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fullname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserGroupID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedUser" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateUser" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SupervisorID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SpecialRight" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LanguageCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DomainUser" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FailAttempt" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LastLoginDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpiryDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsLock" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TokenKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MobileUserLevel" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsUnreadMsgOnly" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserInfo_GetByUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserInfo_GetByUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserInfo_GetByUsernameResult" type="tns:v_Person_User_Staff_Employment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="v_Person_User_Staff_Employment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="p_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="p_Surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p_Othername" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p_Nickname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p_NameCH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p_IDNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p_Sex" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p_email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="u_id" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="u_Username" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="s_id" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="s_StaffNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="s_status" nillable="true" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="s_CompanyID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="s_DepartmentID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="s_PositionID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="s_LeaveClass" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="s_PayrollType" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="s_SecurityGroupID" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="e_id" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="e_CommenceDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="e_TerminateDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="e_EmploymentNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="e_contractid" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="e_ZoneCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="e_ShiftID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="e_AreaID" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="e_IsMain" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="e_status" nillable="true" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="e_FirstEmploymentID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="e_ApprovalGroupID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="e_PositionID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="e_StationCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="e_zoneid" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="c_contractGroupid" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="e_contractCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="e_stationID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="extendInfo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPushedAnnounceIDs_AndroidLocal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="androidLocalUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPushedAnnounceIDs_AndroidLocalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPushedAnnounceIDs_AndroidLocalResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Notice_ClearInvalid">
        <s:complexType />
      </s:element>
      <s:element name="Notice_ClearInvalidResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUnPushAllDeviceIDs_ios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="announceid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnPushAllDeviceIDs_iosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUnPushAllDeviceIDs_iosResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnPushAllDeviceIDs_Android">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="announceid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnPushAllDeviceIDs_AndroidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUnPushAllDeviceIDs_AndroidResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOneUnPushID">
        <s:complexType />
      </s:element>
      <s:element name="GetOneUnPushIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOneUnPushIDResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetPushed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="announceid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="androidOrIos" type="tns:enum_CommonKeyValueTypeCode" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="enum_CommonKeyValueTypeCode">
        <s:restriction base="s:string">
          <s:enumeration value="ANCR" />
          <s:enumeration value="IOSDEVICEID" />
          <s:enumeration value="ANDROIDDEVICEID" />
          <s:enumeration value="Push_Already_ios" />
          <s:enumeration value="Push_Already_android" />
          <s:enumeration value="Push_Already_Localandroid" />
          <s:enumeration value="Push_WorkFlow_Notice" />
          <s:enumeration value="Push_WorkFlow_Notice_REF" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetPushedResponse">
        <s:complexType />
      </s:element>
      <s:element name="Announce_GetAnnouncementByUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Announce_GetAnnouncementByUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Announce_GetAnnouncementByUsernameResult" type="tns:ArrayOfT_Announcement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfT_Announcement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="t_Announcement" nillable="true" type="tns:t_Announcement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="t_Announcement">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ValidDateFrom" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ValidDateTo" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SortSeq" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOnTop" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateUser" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedUser" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Announce_GetAnnouncementByFirstEid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firstEID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Announce_GetAnnouncementByFirstEidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Announce_GetAnnouncementByFirstEidResult" type="tns:ArrayOfT_Announcement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Announce_GetAnnouncementByAnncounceID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="anncounceid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Announce_GetAnnouncementByAnncounceIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Announce_GetAnnouncementByAnncounceIDResult" type="tns:t_Announcement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Announce_ReadAnnounce">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firsteid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="announceID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Announce_ReadAnnounceResponse">
        <s:complexType />
      </s:element>
      <s:element name="Announce_GetUnReadAnnouncement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firstEID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Announce_GetUnReadAnnouncementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Announce_GetUnReadAnnouncementResult" type="tns:ArrayOfT_Announcement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Announce_GetReadAnnouncementID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firstEID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Announce_GetReadAnnouncementIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Announce_GetReadAnnouncementIDResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Announce_GetAttachementByAnnounceID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="announceid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Announce_GetAttachementByAnnounceIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Announce_GetAttachementByAnnounceIDResult" type="tns:ArrayOfT_Attachment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfT_Attachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="t_Attachment" nillable="true" type="tns:t_Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="t_Attachment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RelatedPartyID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FunctionID" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedUser" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateUser" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpiryDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="NoticePeriod" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PayrollPeriodID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RelatedRequestID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WorkFlowTypeID" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Attachment_GetAttachmentByte">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="aid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Attachment_GetAttachmentByteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Attachment_GetAttachmentByteResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttachementByattID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="attid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttachementByattIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAttachementByattIDResult" type="tns:t_Attachment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Attachment_GetFileName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Attachment_GetFileNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Attachment_GetFileNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeviceID_InsertOrUpdateDeviceID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iosOrAndroid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeviceID_InsertOrUpdateDeviceIDResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertAttendance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfT_AttendanceRawData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfT_AttendanceRawData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="t_AttendanceRawData" nillable="true" type="tns:t_AttendanceRawData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="t_AttendanceRawData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LogDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LogTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExternalRef" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InterfaceID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AttendanceInterfaceCenterID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RemoteIdent" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StaffName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StaffNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeviceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeviceName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OTMinute" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LateMinute" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EarlyLeaveMinute" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PairNo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ImportID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateUser" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GpsLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GpsLocationName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PositionID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Sequence" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GPSLat" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="GPSLng" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="LeaveDocumentPath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LeaveDocument2Path" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WifiAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WifiInfo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertAttendanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertAttendanceResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttendanceList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="refInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttendanceListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAttendanceListResult" type="tns:ArrayOfT_AttendanceRawData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstimationSickLeave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firsteid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="asoffdate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstimationSickLeaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EstimationSickLeaveResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertEmailAlertInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailInfo" type="tns:t_EmailAlert" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="t_EmailAlert">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EntityTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EntityID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AttachmentID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TargetSendDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="To" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bcc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusID" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="RetryCount" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedUser" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateUser" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrentValue" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ConditionID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TargetValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertEmailAlertInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertEmailAlertInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="ArrayOfT_Contract_Zone" nillable="true" type="tns:ArrayOfT_Contract_Zone" />
      <s:element name="t_User" nillable="true" type="tns:t_User" />
      <s:element name="v_Person_User_Staff_Employment" nillable="true" type="tns:v_Person_User_Staff_Employment" />
      <s:element name="ArrayOfInt" nillable="true" type="tns:ArrayOfInt" />
      <s:element name="ArrayOfT_Announcement" nillable="true" type="tns:ArrayOfT_Announcement" />
      <s:element name="t_Announcement" nillable="true" type="tns:t_Announcement" />
      <s:element name="ArrayOfT_Attachment" nillable="true" type="tns:ArrayOfT_Attachment" />
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
      <s:element name="t_Attachment" nillable="true" type="tns:t_Attachment" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfT_AttendanceRawData" nillable="true" type="tns:ArrayOfT_AttendanceRawData" />
      <s:element name="double" type="s:double" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Test_GetListSoapIn">
    <wsdl:part name="parameters" element="tns:Test_GetList" />
  </wsdl:message>
  <wsdl:message name="Test_GetListSoapOut">
    <wsdl:part name="parameters" element="tns:Test_GetListResponse" />
  </wsdl:message>
  <wsdl:message name="Test_GetList2SoapIn">
    <wsdl:part name="parameters" element="tns:Test_GetList2" />
  </wsdl:message>
  <wsdl:message name="Test_GetList2SoapOut">
    <wsdl:part name="parameters" element="tns:Test_GetList2Response" />
  </wsdl:message>
  <wsdl:message name="CodeSetting_GetAllZoneSoapIn">
    <wsdl:part name="parameters" element="tns:CodeSetting_GetAllZone" />
  </wsdl:message>
  <wsdl:message name="CodeSetting_GetAllZoneSoapOut">
    <wsdl:part name="parameters" element="tns:CodeSetting_GetAllZoneResponse" />
  </wsdl:message>
  <wsdl:message name="UserInfo_GetUserInfoByUIDSoapIn">
    <wsdl:part name="parameters" element="tns:UserInfo_GetUserInfoByUID" />
  </wsdl:message>
  <wsdl:message name="UserInfo_GetUserInfoByUIDSoapOut">
    <wsdl:part name="parameters" element="tns:UserInfo_GetUserInfoByUIDResponse" />
  </wsdl:message>
  <wsdl:message name="UserInfo_GetByUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:UserInfo_GetByUsername" />
  </wsdl:message>
  <wsdl:message name="UserInfo_GetByUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:UserInfo_GetByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="GetPushedAnnounceIDs_AndroidLocalSoapIn">
    <wsdl:part name="parameters" element="tns:GetPushedAnnounceIDs_AndroidLocal" />
  </wsdl:message>
  <wsdl:message name="GetPushedAnnounceIDs_AndroidLocalSoapOut">
    <wsdl:part name="parameters" element="tns:GetPushedAnnounceIDs_AndroidLocalResponse" />
  </wsdl:message>
  <wsdl:message name="Notice_ClearInvalidSoapIn">
    <wsdl:part name="parameters" element="tns:Notice_ClearInvalid" />
  </wsdl:message>
  <wsdl:message name="Notice_ClearInvalidSoapOut">
    <wsdl:part name="parameters" element="tns:Notice_ClearInvalidResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnPushAllDeviceIDs_iosSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnPushAllDeviceIDs_ios" />
  </wsdl:message>
  <wsdl:message name="GetUnPushAllDeviceIDs_iosSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnPushAllDeviceIDs_iosResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnPushAllDeviceIDs_AndroidSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnPushAllDeviceIDs_Android" />
  </wsdl:message>
  <wsdl:message name="GetUnPushAllDeviceIDs_AndroidSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnPushAllDeviceIDs_AndroidResponse" />
  </wsdl:message>
  <wsdl:message name="GetOneUnPushIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetOneUnPushID" />
  </wsdl:message>
  <wsdl:message name="GetOneUnPushIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetOneUnPushIDResponse" />
  </wsdl:message>
  <wsdl:message name="SetPushedSoapIn">
    <wsdl:part name="parameters" element="tns:SetPushed" />
  </wsdl:message>
  <wsdl:message name="SetPushedSoapOut">
    <wsdl:part name="parameters" element="tns:SetPushedResponse" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAnnouncementByUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:Announce_GetAnnouncementByUsername" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAnnouncementByUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:Announce_GetAnnouncementByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAnnouncementByFirstEidSoapIn">
    <wsdl:part name="parameters" element="tns:Announce_GetAnnouncementByFirstEid" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAnnouncementByFirstEidSoapOut">
    <wsdl:part name="parameters" element="tns:Announce_GetAnnouncementByFirstEidResponse" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAnnouncementByAnncounceIDSoapIn">
    <wsdl:part name="parameters" element="tns:Announce_GetAnnouncementByAnncounceID" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAnnouncementByAnncounceIDSoapOut">
    <wsdl:part name="parameters" element="tns:Announce_GetAnnouncementByAnncounceIDResponse" />
  </wsdl:message>
  <wsdl:message name="Announce_ReadAnnounceSoapIn">
    <wsdl:part name="parameters" element="tns:Announce_ReadAnnounce" />
  </wsdl:message>
  <wsdl:message name="Announce_ReadAnnounceSoapOut">
    <wsdl:part name="parameters" element="tns:Announce_ReadAnnounceResponse" />
  </wsdl:message>
  <wsdl:message name="Announce_GetUnReadAnnouncementSoapIn">
    <wsdl:part name="parameters" element="tns:Announce_GetUnReadAnnouncement" />
  </wsdl:message>
  <wsdl:message name="Announce_GetUnReadAnnouncementSoapOut">
    <wsdl:part name="parameters" element="tns:Announce_GetUnReadAnnouncementResponse" />
  </wsdl:message>
  <wsdl:message name="Announce_GetReadAnnouncementIDSoapIn">
    <wsdl:part name="parameters" element="tns:Announce_GetReadAnnouncementID" />
  </wsdl:message>
  <wsdl:message name="Announce_GetReadAnnouncementIDSoapOut">
    <wsdl:part name="parameters" element="tns:Announce_GetReadAnnouncementIDResponse" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAttachementByAnnounceIDSoapIn">
    <wsdl:part name="parameters" element="tns:Announce_GetAttachementByAnnounceID" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAttachementByAnnounceIDSoapOut">
    <wsdl:part name="parameters" element="tns:Announce_GetAttachementByAnnounceIDResponse" />
  </wsdl:message>
  <wsdl:message name="Attachment_GetAttachmentByteSoapIn">
    <wsdl:part name="parameters" element="tns:Attachment_GetAttachmentByte" />
  </wsdl:message>
  <wsdl:message name="Attachment_GetAttachmentByteSoapOut">
    <wsdl:part name="parameters" element="tns:Attachment_GetAttachmentByteResponse" />
  </wsdl:message>
  <wsdl:message name="GetAttachementByattIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetAttachementByattID" />
  </wsdl:message>
  <wsdl:message name="GetAttachementByattIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetAttachementByattIDResponse" />
  </wsdl:message>
  <wsdl:message name="Attachment_GetFileNameSoapIn">
    <wsdl:part name="parameters" element="tns:Attachment_GetFileName" />
  </wsdl:message>
  <wsdl:message name="Attachment_GetFileNameSoapOut">
    <wsdl:part name="parameters" element="tns:Attachment_GetFileNameResponse" />
  </wsdl:message>
  <wsdl:message name="DeviceID_InsertOrUpdateDeviceIDSoapIn">
    <wsdl:part name="parameters" element="tns:DeviceID_InsertOrUpdateDeviceID" />
  </wsdl:message>
  <wsdl:message name="DeviceID_InsertOrUpdateDeviceIDSoapOut">
    <wsdl:part name="parameters" element="tns:DeviceID_InsertOrUpdateDeviceIDResponse" />
  </wsdl:message>
  <wsdl:message name="InsertAttendanceSoapIn">
    <wsdl:part name="parameters" element="tns:InsertAttendance" />
  </wsdl:message>
  <wsdl:message name="InsertAttendanceSoapOut">
    <wsdl:part name="parameters" element="tns:InsertAttendanceResponse" />
  </wsdl:message>
  <wsdl:message name="GetAttendanceListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAttendanceList" />
  </wsdl:message>
  <wsdl:message name="GetAttendanceListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAttendanceListResponse" />
  </wsdl:message>
  <wsdl:message name="EstimationSickLeaveSoapIn">
    <wsdl:part name="parameters" element="tns:EstimationSickLeave" />
  </wsdl:message>
  <wsdl:message name="EstimationSickLeaveSoapOut">
    <wsdl:part name="parameters" element="tns:EstimationSickLeaveResponse" />
  </wsdl:message>
  <wsdl:message name="InsertEmailAlertInfoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertEmailAlertInfo" />
  </wsdl:message>
  <wsdl:message name="InsertEmailAlertInfoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertEmailAlertInfoResponse" />
  </wsdl:message>
  <wsdl:message name="Test_GetListHttpPostIn" />
  <wsdl:message name="Test_GetListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="Test_GetList2HttpPostIn" />
  <wsdl:message name="Test_GetList2HttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="CodeSetting_GetAllZoneHttpPostIn" />
  <wsdl:message name="CodeSetting_GetAllZoneHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfT_Contract_Zone" />
  </wsdl:message>
  <wsdl:message name="UserInfo_GetUserInfoByUIDHttpPostIn">
    <wsdl:part name="uid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserInfo_GetUserInfoByUIDHttpPostOut">
    <wsdl:part name="Body" element="tns:t_User" />
  </wsdl:message>
  <wsdl:message name="UserInfo_GetByUsernameHttpPostIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserInfo_GetByUsernameHttpPostOut">
    <wsdl:part name="Body" element="tns:v_Person_User_Staff_Employment" />
  </wsdl:message>
  <wsdl:message name="GetPushedAnnounceIDs_AndroidLocalHttpPostIn">
    <wsdl:part name="androidLocalUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPushedAnnounceIDs_AndroidLocalHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="Notice_ClearInvalidHttpPostIn" />
  <wsdl:message name="Notice_ClearInvalidHttpPostOut" />
  <wsdl:message name="GetUnPushAllDeviceIDs_iosHttpPostIn">
    <wsdl:part name="announceid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUnPushAllDeviceIDs_iosHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetUnPushAllDeviceIDs_AndroidHttpPostIn">
    <wsdl:part name="announceid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUnPushAllDeviceIDs_AndroidHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetOneUnPushIDHttpPostIn" />
  <wsdl:message name="GetOneUnPushIDHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfInt" />
  </wsdl:message>
  <wsdl:message name="SetPushedHttpPostIn">
    <wsdl:part name="announceid" type="s:string" />
    <wsdl:part name="androidOrIos" type="s:string" />
    <wsdl:part name="deviceid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetPushedHttpPostOut" />
  <wsdl:message name="Announce_GetAnnouncementByUsernameHttpPostIn">
    <wsdl:part name="username" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAnnouncementByUsernameHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfT_Announcement" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAnnouncementByFirstEidHttpPostIn">
    <wsdl:part name="firstEID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAnnouncementByFirstEidHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfT_Announcement" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAnnouncementByAnncounceIDHttpPostIn">
    <wsdl:part name="anncounceid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAnnouncementByAnncounceIDHttpPostOut">
    <wsdl:part name="Body" element="tns:t_Announcement" />
  </wsdl:message>
  <wsdl:message name="Announce_ReadAnnounceHttpPostIn">
    <wsdl:part name="firsteid" type="s:string" />
    <wsdl:part name="announceID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Announce_ReadAnnounceHttpPostOut" />
  <wsdl:message name="Announce_GetUnReadAnnouncementHttpPostIn">
    <wsdl:part name="firstEID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Announce_GetUnReadAnnouncementHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfT_Announcement" />
  </wsdl:message>
  <wsdl:message name="Announce_GetReadAnnouncementIDHttpPostIn">
    <wsdl:part name="firstEID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Announce_GetReadAnnouncementIDHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfInt" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAttachementByAnnounceIDHttpPostIn">
    <wsdl:part name="announceid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAttachementByAnnounceIDHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfT_Attachment" />
  </wsdl:message>
  <wsdl:message name="Attachment_GetAttachmentByteHttpPostIn">
    <wsdl:part name="aid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Attachment_GetAttachmentByteHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="GetAttachementByattIDHttpPostIn">
    <wsdl:part name="attid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAttachementByattIDHttpPostOut">
    <wsdl:part name="Body" element="tns:t_Attachment" />
  </wsdl:message>
  <wsdl:message name="Attachment_GetFileNameHttpPostIn">
    <wsdl:part name="FilePath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Attachment_GetFileNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeviceID_InsertOrUpdateDeviceIDHttpPostIn">
    <wsdl:part name="iosOrAndroid" type="s:string" />
    <wsdl:part name="deviceID" type="s:string" />
    <wsdl:part name="uid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeviceID_InsertOrUpdateDeviceIDHttpPostOut" />
  <wsdl:message name="GetAttendanceListHttpPostIn">
    <wsdl:part name="refInfo" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="GetAttendanceListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfT_AttendanceRawData" />
  </wsdl:message>
  <wsdl:message name="EstimationSickLeaveHttpPostIn">
    <wsdl:part name="firsteid" type="s:string" />
    <wsdl:part name="asoffdate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EstimationSickLeaveHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:portType name="ILeave_OtherSoap">
    <wsdl:operation name="Test_GetList">
      <wsdl:input message="tns:Test_GetListSoapIn" />
      <wsdl:output message="tns:Test_GetListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test_GetList2">
      <wsdl:input message="tns:Test_GetList2SoapIn" />
      <wsdl:output message="tns:Test_GetList2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CodeSetting_GetAllZone">
      <wsdl:input message="tns:CodeSetting_GetAllZoneSoapIn" />
      <wsdl:output message="tns:CodeSetting_GetAllZoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserInfo_GetUserInfoByUID">
      <wsdl:input message="tns:UserInfo_GetUserInfoByUIDSoapIn" />
      <wsdl:output message="tns:UserInfo_GetUserInfoByUIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserInfo_GetByUsername">
      <wsdl:input message="tns:UserInfo_GetByUsernameSoapIn" />
      <wsdl:output message="tns:UserInfo_GetByUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPushedAnnounceIDs_AndroidLocal">
      <wsdl:input message="tns:GetPushedAnnounceIDs_AndroidLocalSoapIn" />
      <wsdl:output message="tns:GetPushedAnnounceIDs_AndroidLocalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Notice_ClearInvalid">
      <wsdl:input message="tns:Notice_ClearInvalidSoapIn" />
      <wsdl:output message="tns:Notice_ClearInvalidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnPushAllDeviceIDs_ios">
      <wsdl:input message="tns:GetUnPushAllDeviceIDs_iosSoapIn" />
      <wsdl:output message="tns:GetUnPushAllDeviceIDs_iosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnPushAllDeviceIDs_Android">
      <wsdl:input message="tns:GetUnPushAllDeviceIDs_AndroidSoapIn" />
      <wsdl:output message="tns:GetUnPushAllDeviceIDs_AndroidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOneUnPushID">
      <wsdl:input message="tns:GetOneUnPushIDSoapIn" />
      <wsdl:output message="tns:GetOneUnPushIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPushed">
      <wsdl:input message="tns:SetPushedSoapIn" />
      <wsdl:output message="tns:SetPushedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByUsername">
      <wsdl:input message="tns:Announce_GetAnnouncementByUsernameSoapIn" />
      <wsdl:output message="tns:Announce_GetAnnouncementByUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByFirstEid">
      <wsdl:input message="tns:Announce_GetAnnouncementByFirstEidSoapIn" />
      <wsdl:output message="tns:Announce_GetAnnouncementByFirstEidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByAnncounceID">
      <wsdl:input message="tns:Announce_GetAnnouncementByAnncounceIDSoapIn" />
      <wsdl:output message="tns:Announce_GetAnnouncementByAnncounceIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_ReadAnnounce">
      <wsdl:input message="tns:Announce_ReadAnnounceSoapIn" />
      <wsdl:output message="tns:Announce_ReadAnnounceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetUnReadAnnouncement">
      <wsdl:input message="tns:Announce_GetUnReadAnnouncementSoapIn" />
      <wsdl:output message="tns:Announce_GetUnReadAnnouncementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetReadAnnouncementID">
      <wsdl:input message="tns:Announce_GetReadAnnouncementIDSoapIn" />
      <wsdl:output message="tns:Announce_GetReadAnnouncementIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAttachementByAnnounceID">
      <wsdl:input message="tns:Announce_GetAttachementByAnnounceIDSoapIn" />
      <wsdl:output message="tns:Announce_GetAttachementByAnnounceIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetAttachmentByte">
      <wsdl:input message="tns:Attachment_GetAttachmentByteSoapIn" />
      <wsdl:output message="tns:Attachment_GetAttachmentByteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachementByattID">
      <wsdl:input message="tns:GetAttachementByattIDSoapIn" />
      <wsdl:output message="tns:GetAttachementByattIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetFileName">
      <wsdl:input message="tns:Attachment_GetFileNameSoapIn" />
      <wsdl:output message="tns:Attachment_GetFileNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceID_InsertOrUpdateDeviceID">
      <wsdl:input message="tns:DeviceID_InsertOrUpdateDeviceIDSoapIn" />
      <wsdl:output message="tns:DeviceID_InsertOrUpdateDeviceIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertAttendance">
      <wsdl:input message="tns:InsertAttendanceSoapIn" />
      <wsdl:output message="tns:InsertAttendanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAttendanceList">
      <wsdl:input message="tns:GetAttendanceListSoapIn" />
      <wsdl:output message="tns:GetAttendanceListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EstimationSickLeave">
      <wsdl:input message="tns:EstimationSickLeaveSoapIn" />
      <wsdl:output message="tns:EstimationSickLeaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertEmailAlertInfo">
      <wsdl:input message="tns:InsertEmailAlertInfoSoapIn" />
      <wsdl:output message="tns:InsertEmailAlertInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ILeave_OtherHttpPost">
    <wsdl:operation name="Test_GetList">
      <wsdl:input message="tns:Test_GetListHttpPostIn" />
      <wsdl:output message="tns:Test_GetListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Test_GetList2">
      <wsdl:input message="tns:Test_GetList2HttpPostIn" />
      <wsdl:output message="tns:Test_GetList2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CodeSetting_GetAllZone">
      <wsdl:input message="tns:CodeSetting_GetAllZoneHttpPostIn" />
      <wsdl:output message="tns:CodeSetting_GetAllZoneHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserInfo_GetUserInfoByUID">
      <wsdl:input message="tns:UserInfo_GetUserInfoByUIDHttpPostIn" />
      <wsdl:output message="tns:UserInfo_GetUserInfoByUIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserInfo_GetByUsername">
      <wsdl:input message="tns:UserInfo_GetByUsernameHttpPostIn" />
      <wsdl:output message="tns:UserInfo_GetByUsernameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPushedAnnounceIDs_AndroidLocal">
      <wsdl:input message="tns:GetPushedAnnounceIDs_AndroidLocalHttpPostIn" />
      <wsdl:output message="tns:GetPushedAnnounceIDs_AndroidLocalHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Notice_ClearInvalid">
      <wsdl:input message="tns:Notice_ClearInvalidHttpPostIn" />
      <wsdl:output message="tns:Notice_ClearInvalidHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnPushAllDeviceIDs_ios">
      <wsdl:input message="tns:GetUnPushAllDeviceIDs_iosHttpPostIn" />
      <wsdl:output message="tns:GetUnPushAllDeviceIDs_iosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnPushAllDeviceIDs_Android">
      <wsdl:input message="tns:GetUnPushAllDeviceIDs_AndroidHttpPostIn" />
      <wsdl:output message="tns:GetUnPushAllDeviceIDs_AndroidHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOneUnPushID">
      <wsdl:input message="tns:GetOneUnPushIDHttpPostIn" />
      <wsdl:output message="tns:GetOneUnPushIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPushed">
      <wsdl:input message="tns:SetPushedHttpPostIn" />
      <wsdl:output message="tns:SetPushedHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByUsername">
      <wsdl:input message="tns:Announce_GetAnnouncementByUsernameHttpPostIn" />
      <wsdl:output message="tns:Announce_GetAnnouncementByUsernameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByFirstEid">
      <wsdl:input message="tns:Announce_GetAnnouncementByFirstEidHttpPostIn" />
      <wsdl:output message="tns:Announce_GetAnnouncementByFirstEidHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByAnncounceID">
      <wsdl:input message="tns:Announce_GetAnnouncementByAnncounceIDHttpPostIn" />
      <wsdl:output message="tns:Announce_GetAnnouncementByAnncounceIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_ReadAnnounce">
      <wsdl:input message="tns:Announce_ReadAnnounceHttpPostIn" />
      <wsdl:output message="tns:Announce_ReadAnnounceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetUnReadAnnouncement">
      <wsdl:input message="tns:Announce_GetUnReadAnnouncementHttpPostIn" />
      <wsdl:output message="tns:Announce_GetUnReadAnnouncementHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetReadAnnouncementID">
      <wsdl:input message="tns:Announce_GetReadAnnouncementIDHttpPostIn" />
      <wsdl:output message="tns:Announce_GetReadAnnouncementIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAttachementByAnnounceID">
      <wsdl:input message="tns:Announce_GetAttachementByAnnounceIDHttpPostIn" />
      <wsdl:output message="tns:Announce_GetAttachementByAnnounceIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetAttachmentByte">
      <wsdl:input message="tns:Attachment_GetAttachmentByteHttpPostIn" />
      <wsdl:output message="tns:Attachment_GetAttachmentByteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachementByattID">
      <wsdl:input message="tns:GetAttachementByattIDHttpPostIn" />
      <wsdl:output message="tns:GetAttachementByattIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetFileName">
      <wsdl:input message="tns:Attachment_GetFileNameHttpPostIn" />
      <wsdl:output message="tns:Attachment_GetFileNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceID_InsertOrUpdateDeviceID">
      <wsdl:input message="tns:DeviceID_InsertOrUpdateDeviceIDHttpPostIn" />
      <wsdl:output message="tns:DeviceID_InsertOrUpdateDeviceIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAttendanceList">
      <wsdl:input message="tns:GetAttendanceListHttpPostIn" />
      <wsdl:output message="tns:GetAttendanceListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EstimationSickLeave">
      <wsdl:input message="tns:EstimationSickLeaveHttpPostIn" />
      <wsdl:output message="tns:EstimationSickLeaveHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ILeave_OtherSoap" type="tns:ILeave_OtherSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test_GetList">
      <soap:operation soapAction="http://tempuri.org/Test_GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_GetList2">
      <soap:operation soapAction="http://tempuri.org/Test_GetList2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CodeSetting_GetAllZone">
      <soap:operation soapAction="http://tempuri.org/CodeSetting_GetAllZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInfo_GetUserInfoByUID">
      <soap:operation soapAction="http://tempuri.org/UserInfo_GetUserInfoByUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInfo_GetByUsername">
      <soap:operation soapAction="http://tempuri.org/UserInfo_GetByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPushedAnnounceIDs_AndroidLocal">
      <soap:operation soapAction="http://tempuri.org/GetPushedAnnounceIDs_AndroidLocal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notice_ClearInvalid">
      <soap:operation soapAction="http://tempuri.org/Notice_ClearInvalid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnPushAllDeviceIDs_ios">
      <soap:operation soapAction="http://tempuri.org/GetUnPushAllDeviceIDs_ios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnPushAllDeviceIDs_Android">
      <soap:operation soapAction="http://tempuri.org/GetUnPushAllDeviceIDs_Android" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneUnPushID">
      <soap:operation soapAction="http://tempuri.org/GetOneUnPushID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPushed">
      <soap:operation soapAction="http://tempuri.org/SetPushed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByUsername">
      <soap:operation soapAction="http://tempuri.org/Announce_GetAnnouncementByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByFirstEid">
      <soap:operation soapAction="http://tempuri.org/Announce_GetAnnouncementByFirstEid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByAnncounceID">
      <soap:operation soapAction="http://tempuri.org/Announce_GetAnnouncementByAnncounceID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_ReadAnnounce">
      <soap:operation soapAction="http://tempuri.org/Announce_ReadAnnounce" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetUnReadAnnouncement">
      <soap:operation soapAction="http://tempuri.org/Announce_GetUnReadAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetReadAnnouncementID">
      <soap:operation soapAction="http://tempuri.org/Announce_GetReadAnnouncementID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAttachementByAnnounceID">
      <soap:operation soapAction="http://tempuri.org/Announce_GetAttachementByAnnounceID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetAttachmentByte">
      <soap:operation soapAction="http://tempuri.org/Attachment_GetAttachmentByte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachementByattID">
      <soap:operation soapAction="http://tempuri.org/GetAttachementByattID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetFileName">
      <soap:operation soapAction="http://tempuri.org/Attachment_GetFileName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceID_InsertOrUpdateDeviceID">
      <soap:operation soapAction="http://tempuri.org/DeviceID_InsertOrUpdateDeviceID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAttendance">
      <soap:operation soapAction="http://tempuri.org/InsertAttendance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttendanceList">
      <soap:operation soapAction="http://tempuri.org/GetAttendanceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstimationSickLeave">
      <soap:operation soapAction="http://tempuri.org/EstimationSickLeave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmailAlertInfo">
      <soap:operation soapAction="http://tempuri.org/InsertEmailAlertInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ILeave_OtherSoap12" type="tns:ILeave_OtherSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test_GetList">
      <soap12:operation soapAction="http://tempuri.org/Test_GetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_GetList2">
      <soap12:operation soapAction="http://tempuri.org/Test_GetList2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CodeSetting_GetAllZone">
      <soap12:operation soapAction="http://tempuri.org/CodeSetting_GetAllZone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInfo_GetUserInfoByUID">
      <soap12:operation soapAction="http://tempuri.org/UserInfo_GetUserInfoByUID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInfo_GetByUsername">
      <soap12:operation soapAction="http://tempuri.org/UserInfo_GetByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPushedAnnounceIDs_AndroidLocal">
      <soap12:operation soapAction="http://tempuri.org/GetPushedAnnounceIDs_AndroidLocal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notice_ClearInvalid">
      <soap12:operation soapAction="http://tempuri.org/Notice_ClearInvalid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnPushAllDeviceIDs_ios">
      <soap12:operation soapAction="http://tempuri.org/GetUnPushAllDeviceIDs_ios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnPushAllDeviceIDs_Android">
      <soap12:operation soapAction="http://tempuri.org/GetUnPushAllDeviceIDs_Android" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneUnPushID">
      <soap12:operation soapAction="http://tempuri.org/GetOneUnPushID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPushed">
      <soap12:operation soapAction="http://tempuri.org/SetPushed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByUsername">
      <soap12:operation soapAction="http://tempuri.org/Announce_GetAnnouncementByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByFirstEid">
      <soap12:operation soapAction="http://tempuri.org/Announce_GetAnnouncementByFirstEid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByAnncounceID">
      <soap12:operation soapAction="http://tempuri.org/Announce_GetAnnouncementByAnncounceID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_ReadAnnounce">
      <soap12:operation soapAction="http://tempuri.org/Announce_ReadAnnounce" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetUnReadAnnouncement">
      <soap12:operation soapAction="http://tempuri.org/Announce_GetUnReadAnnouncement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetReadAnnouncementID">
      <soap12:operation soapAction="http://tempuri.org/Announce_GetReadAnnouncementID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAttachementByAnnounceID">
      <soap12:operation soapAction="http://tempuri.org/Announce_GetAttachementByAnnounceID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetAttachmentByte">
      <soap12:operation soapAction="http://tempuri.org/Attachment_GetAttachmentByte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachementByattID">
      <soap12:operation soapAction="http://tempuri.org/GetAttachementByattID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetFileName">
      <soap12:operation soapAction="http://tempuri.org/Attachment_GetFileName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceID_InsertOrUpdateDeviceID">
      <soap12:operation soapAction="http://tempuri.org/DeviceID_InsertOrUpdateDeviceID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAttendance">
      <soap12:operation soapAction="http://tempuri.org/InsertAttendance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttendanceList">
      <soap12:operation soapAction="http://tempuri.org/GetAttendanceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstimationSickLeave">
      <soap12:operation soapAction="http://tempuri.org/EstimationSickLeave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmailAlertInfo">
      <soap12:operation soapAction="http://tempuri.org/InsertEmailAlertInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ILeave_OtherHttpPost" type="tns:ILeave_OtherHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Test_GetList">
      <http:operation location="/Test_GetList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test_GetList2">
      <http:operation location="/Test_GetList2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CodeSetting_GetAllZone">
      <http:operation location="/CodeSetting_GetAllZone" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInfo_GetUserInfoByUID">
      <http:operation location="/UserInfo_GetUserInfoByUID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInfo_GetByUsername">
      <http:operation location="/UserInfo_GetByUsername" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPushedAnnounceIDs_AndroidLocal">
      <http:operation location="/GetPushedAnnounceIDs_AndroidLocal" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notice_ClearInvalid">
      <http:operation location="/Notice_ClearInvalid" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetUnPushAllDeviceIDs_ios">
      <http:operation location="/GetUnPushAllDeviceIDs_ios" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnPushAllDeviceIDs_Android">
      <http:operation location="/GetUnPushAllDeviceIDs_Android" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneUnPushID">
      <http:operation location="/GetOneUnPushID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPushed">
      <http:operation location="/SetPushed" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByUsername">
      <http:operation location="/Announce_GetAnnouncementByUsername" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByFirstEid">
      <http:operation location="/Announce_GetAnnouncementByFirstEid" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByAnncounceID">
      <http:operation location="/Announce_GetAnnouncementByAnncounceID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_ReadAnnounce">
      <http:operation location="/Announce_ReadAnnounce" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetUnReadAnnouncement">
      <http:operation location="/Announce_GetUnReadAnnouncement" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetReadAnnouncementID">
      <http:operation location="/Announce_GetReadAnnouncementID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAttachementByAnnounceID">
      <http:operation location="/Announce_GetAttachementByAnnounceID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetAttachmentByte">
      <http:operation location="/Attachment_GetAttachmentByte" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachementByattID">
      <http:operation location="/GetAttachementByattID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetFileName">
      <http:operation location="/Attachment_GetFileName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceID_InsertOrUpdateDeviceID">
      <http:operation location="/DeviceID_InsertOrUpdateDeviceID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetAttendanceList">
      <http:operation location="/GetAttendanceList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstimationSickLeave">
      <http:operation location="/EstimationSickLeave" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ILeave_Other">
    <wsdl:port name="ILeave_OtherSoap" binding="tns:ILeave_OtherSoap">
      <soap:address location="http://192.168.66.100:9000/bll/ileave_other.asmx" />
    </wsdl:port>
    <wsdl:port name="ILeave_OtherSoap12" binding="tns:ILeave_OtherSoap12">
      <soap12:address location="http://192.168.66.100:9000/bll/ileave_other.asmx" />
    </wsdl:port>
    <wsdl:port name="ILeave_OtherHttpPost" binding="tns:ILeave_OtherHttpPost">
      <http:address location="http://192.168.66.100:9000/bll/ileave_other.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>