WebServiceLayer/Web References/WebReference_Ileave_Other/ileave_other.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Test_GetList">
        <s:complexType />
      </s:element>
      <s:element name="Test_GetListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Test_GetListResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Announce_GetAnnouncementByFirstEid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firstEID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Announce_GetAnnouncementByFirstEidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Announce_GetAnnouncementByFirstEidResult" type="tns:ArrayOfT_Announcement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfT_Announcement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="t_Announcement" nillable="true" type="tns:t_Announcement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="t_Announcement">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ValidDateFrom" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ValidDateTo" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SortSeq" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOnTop" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateUser" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedUser" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Announce_GetAnnouncementByAnncounceID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="anncounceid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Announce_GetAnnouncementByAnncounceIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Announce_GetAnnouncementByAnncounceIDResult" type="tns:t_Announcement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Announce_ReadAnnounce">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firsteid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="announceID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Announce_ReadAnnounceResponse">
        <s:complexType />
      </s:element>
      <s:element name="Announce_GetUnReadAnnouncement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firstEID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Announce_GetUnReadAnnouncementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Announce_GetUnReadAnnouncementResult" type="tns:ArrayOfT_Announcement" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Announce_GetReadAnnouncementID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firstEID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Announce_GetReadAnnouncementIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Announce_GetReadAnnouncementIDResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Announce_GetAttachementByAnnounceID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="announceid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Announce_GetAttachementByAnnounceIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Announce_GetAttachementByAnnounceIDResult" type="tns:ArrayOfT_Attachment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfT_Attachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="t_Attachment" nillable="true" type="tns:t_Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="t_Attachment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RelatedPartyID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FunctionID" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedUser" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateUser" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpiryDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="NoticePeriod" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PayrollPeriodID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RelatedRequestID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WorkFlowTypeID" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Attachment_GetAttachmentByte">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="aid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Attachment_GetAttachmentByteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Attachment_GetAttachmentByteResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttachementByattID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="attid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttachementByattIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAttachementByattIDResult" type="tns:t_Attachment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Attachment_GetFileName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Attachment_GetFileNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Attachment_GetFileNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeviceID_InsertOrUpdateDeviceID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iosOrAndroid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeviceID_InsertOrUpdateDeviceIDResponse">
        <s:complexType />
      </s:element>
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="ArrayOfT_Announcement" nillable="true" type="tns:ArrayOfT_Announcement" />
      <s:element name="t_Announcement" nillable="true" type="tns:t_Announcement" />
      <s:element name="ArrayOfInt" nillable="true" type="tns:ArrayOfInt" />
      <s:element name="ArrayOfT_Attachment" nillable="true" type="tns:ArrayOfT_Attachment" />
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
      <s:element name="t_Attachment" nillable="true" type="tns:t_Attachment" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Test_GetListSoapIn">
    <wsdl:part name="parameters" element="tns:Test_GetList" />
  </wsdl:message>
  <wsdl:message name="Test_GetListSoapOut">
    <wsdl:part name="parameters" element="tns:Test_GetListResponse" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAnnouncementByFirstEidSoapIn">
    <wsdl:part name="parameters" element="tns:Announce_GetAnnouncementByFirstEid" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAnnouncementByFirstEidSoapOut">
    <wsdl:part name="parameters" element="tns:Announce_GetAnnouncementByFirstEidResponse" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAnnouncementByAnncounceIDSoapIn">
    <wsdl:part name="parameters" element="tns:Announce_GetAnnouncementByAnncounceID" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAnnouncementByAnncounceIDSoapOut">
    <wsdl:part name="parameters" element="tns:Announce_GetAnnouncementByAnncounceIDResponse" />
  </wsdl:message>
  <wsdl:message name="Announce_ReadAnnounceSoapIn">
    <wsdl:part name="parameters" element="tns:Announce_ReadAnnounce" />
  </wsdl:message>
  <wsdl:message name="Announce_ReadAnnounceSoapOut">
    <wsdl:part name="parameters" element="tns:Announce_ReadAnnounceResponse" />
  </wsdl:message>
  <wsdl:message name="Announce_GetUnReadAnnouncementSoapIn">
    <wsdl:part name="parameters" element="tns:Announce_GetUnReadAnnouncement" />
  </wsdl:message>
  <wsdl:message name="Announce_GetUnReadAnnouncementSoapOut">
    <wsdl:part name="parameters" element="tns:Announce_GetUnReadAnnouncementResponse" />
  </wsdl:message>
  <wsdl:message name="Announce_GetReadAnnouncementIDSoapIn">
    <wsdl:part name="parameters" element="tns:Announce_GetReadAnnouncementID" />
  </wsdl:message>
  <wsdl:message name="Announce_GetReadAnnouncementIDSoapOut">
    <wsdl:part name="parameters" element="tns:Announce_GetReadAnnouncementIDResponse" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAttachementByAnnounceIDSoapIn">
    <wsdl:part name="parameters" element="tns:Announce_GetAttachementByAnnounceID" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAttachementByAnnounceIDSoapOut">
    <wsdl:part name="parameters" element="tns:Announce_GetAttachementByAnnounceIDResponse" />
  </wsdl:message>
  <wsdl:message name="Attachment_GetAttachmentByteSoapIn">
    <wsdl:part name="parameters" element="tns:Attachment_GetAttachmentByte" />
  </wsdl:message>
  <wsdl:message name="Attachment_GetAttachmentByteSoapOut">
    <wsdl:part name="parameters" element="tns:Attachment_GetAttachmentByteResponse" />
  </wsdl:message>
  <wsdl:message name="GetAttachementByattIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetAttachementByattID" />
  </wsdl:message>
  <wsdl:message name="GetAttachementByattIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetAttachementByattIDResponse" />
  </wsdl:message>
  <wsdl:message name="Attachment_GetFileNameSoapIn">
    <wsdl:part name="parameters" element="tns:Attachment_GetFileName" />
  </wsdl:message>
  <wsdl:message name="Attachment_GetFileNameSoapOut">
    <wsdl:part name="parameters" element="tns:Attachment_GetFileNameResponse" />
  </wsdl:message>
  <wsdl:message name="DeviceID_InsertOrUpdateDeviceIDSoapIn">
    <wsdl:part name="parameters" element="tns:DeviceID_InsertOrUpdateDeviceID" />
  </wsdl:message>
  <wsdl:message name="DeviceID_InsertOrUpdateDeviceIDSoapOut">
    <wsdl:part name="parameters" element="tns:DeviceID_InsertOrUpdateDeviceIDResponse" />
  </wsdl:message>
  <wsdl:message name="Test_GetListHttpPostIn" />
  <wsdl:message name="Test_GetListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAnnouncementByFirstEidHttpPostIn">
    <wsdl:part name="firstEID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAnnouncementByFirstEidHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfT_Announcement" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAnnouncementByAnncounceIDHttpPostIn">
    <wsdl:part name="anncounceid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAnnouncementByAnncounceIDHttpPostOut">
    <wsdl:part name="Body" element="tns:t_Announcement" />
  </wsdl:message>
  <wsdl:message name="Announce_ReadAnnounceHttpPostIn">
    <wsdl:part name="firsteid" type="s:string" />
    <wsdl:part name="announceID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Announce_ReadAnnounceHttpPostOut" />
  <wsdl:message name="Announce_GetUnReadAnnouncementHttpPostIn">
    <wsdl:part name="firstEID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Announce_GetUnReadAnnouncementHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfT_Announcement" />
  </wsdl:message>
  <wsdl:message name="Announce_GetReadAnnouncementIDHttpPostIn">
    <wsdl:part name="firstEID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Announce_GetReadAnnouncementIDHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfInt" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAttachementByAnnounceIDHttpPostIn">
    <wsdl:part name="announceid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Announce_GetAttachementByAnnounceIDHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfT_Attachment" />
  </wsdl:message>
  <wsdl:message name="Attachment_GetAttachmentByteHttpPostIn">
    <wsdl:part name="aid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Attachment_GetAttachmentByteHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="GetAttachementByattIDHttpPostIn">
    <wsdl:part name="attid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAttachementByattIDHttpPostOut">
    <wsdl:part name="Body" element="tns:t_Attachment" />
  </wsdl:message>
  <wsdl:message name="Attachment_GetFileNameHttpPostIn">
    <wsdl:part name="FilePath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Attachment_GetFileNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeviceID_InsertOrUpdateDeviceIDHttpPostIn">
    <wsdl:part name="iosOrAndroid" type="s:string" />
    <wsdl:part name="deviceID" type="s:string" />
    <wsdl:part name="uid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeviceID_InsertOrUpdateDeviceIDHttpPostOut" />
  <wsdl:portType name="ILeave_OtherSoap">
    <wsdl:operation name="Test_GetList">
      <wsdl:input message="tns:Test_GetListSoapIn" />
      <wsdl:output message="tns:Test_GetListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByFirstEid">
      <wsdl:input message="tns:Announce_GetAnnouncementByFirstEidSoapIn" />
      <wsdl:output message="tns:Announce_GetAnnouncementByFirstEidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByAnncounceID">
      <wsdl:input message="tns:Announce_GetAnnouncementByAnncounceIDSoapIn" />
      <wsdl:output message="tns:Announce_GetAnnouncementByAnncounceIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_ReadAnnounce">
      <wsdl:input message="tns:Announce_ReadAnnounceSoapIn" />
      <wsdl:output message="tns:Announce_ReadAnnounceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetUnReadAnnouncement">
      <wsdl:input message="tns:Announce_GetUnReadAnnouncementSoapIn" />
      <wsdl:output message="tns:Announce_GetUnReadAnnouncementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetReadAnnouncementID">
      <wsdl:input message="tns:Announce_GetReadAnnouncementIDSoapIn" />
      <wsdl:output message="tns:Announce_GetReadAnnouncementIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAttachementByAnnounceID">
      <wsdl:input message="tns:Announce_GetAttachementByAnnounceIDSoapIn" />
      <wsdl:output message="tns:Announce_GetAttachementByAnnounceIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetAttachmentByte">
      <wsdl:input message="tns:Attachment_GetAttachmentByteSoapIn" />
      <wsdl:output message="tns:Attachment_GetAttachmentByteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachementByattID">
      <wsdl:input message="tns:GetAttachementByattIDSoapIn" />
      <wsdl:output message="tns:GetAttachementByattIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetFileName">
      <wsdl:input message="tns:Attachment_GetFileNameSoapIn" />
      <wsdl:output message="tns:Attachment_GetFileNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceID_InsertOrUpdateDeviceID">
      <wsdl:input message="tns:DeviceID_InsertOrUpdateDeviceIDSoapIn" />
      <wsdl:output message="tns:DeviceID_InsertOrUpdateDeviceIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ILeave_OtherHttpPost">
    <wsdl:operation name="Test_GetList">
      <wsdl:input message="tns:Test_GetListHttpPostIn" />
      <wsdl:output message="tns:Test_GetListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByFirstEid">
      <wsdl:input message="tns:Announce_GetAnnouncementByFirstEidHttpPostIn" />
      <wsdl:output message="tns:Announce_GetAnnouncementByFirstEidHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByAnncounceID">
      <wsdl:input message="tns:Announce_GetAnnouncementByAnncounceIDHttpPostIn" />
      <wsdl:output message="tns:Announce_GetAnnouncementByAnncounceIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_ReadAnnounce">
      <wsdl:input message="tns:Announce_ReadAnnounceHttpPostIn" />
      <wsdl:output message="tns:Announce_ReadAnnounceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetUnReadAnnouncement">
      <wsdl:input message="tns:Announce_GetUnReadAnnouncementHttpPostIn" />
      <wsdl:output message="tns:Announce_GetUnReadAnnouncementHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetReadAnnouncementID">
      <wsdl:input message="tns:Announce_GetReadAnnouncementIDHttpPostIn" />
      <wsdl:output message="tns:Announce_GetReadAnnouncementIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAttachementByAnnounceID">
      <wsdl:input message="tns:Announce_GetAttachementByAnnounceIDHttpPostIn" />
      <wsdl:output message="tns:Announce_GetAttachementByAnnounceIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetAttachmentByte">
      <wsdl:input message="tns:Attachment_GetAttachmentByteHttpPostIn" />
      <wsdl:output message="tns:Attachment_GetAttachmentByteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachementByattID">
      <wsdl:input message="tns:GetAttachementByattIDHttpPostIn" />
      <wsdl:output message="tns:GetAttachementByattIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetFileName">
      <wsdl:input message="tns:Attachment_GetFileNameHttpPostIn" />
      <wsdl:output message="tns:Attachment_GetFileNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceID_InsertOrUpdateDeviceID">
      <wsdl:input message="tns:DeviceID_InsertOrUpdateDeviceIDHttpPostIn" />
      <wsdl:output message="tns:DeviceID_InsertOrUpdateDeviceIDHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ILeave_OtherSoap" type="tns:ILeave_OtherSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test_GetList">
      <soap:operation soapAction="http://tempuri.org/Test_GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByFirstEid">
      <soap:operation soapAction="http://tempuri.org/Announce_GetAnnouncementByFirstEid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByAnncounceID">
      <soap:operation soapAction="http://tempuri.org/Announce_GetAnnouncementByAnncounceID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_ReadAnnounce">
      <soap:operation soapAction="http://tempuri.org/Announce_ReadAnnounce" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetUnReadAnnouncement">
      <soap:operation soapAction="http://tempuri.org/Announce_GetUnReadAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetReadAnnouncementID">
      <soap:operation soapAction="http://tempuri.org/Announce_GetReadAnnouncementID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAttachementByAnnounceID">
      <soap:operation soapAction="http://tempuri.org/Announce_GetAttachementByAnnounceID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetAttachmentByte">
      <soap:operation soapAction="http://tempuri.org/Attachment_GetAttachmentByte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachementByattID">
      <soap:operation soapAction="http://tempuri.org/GetAttachementByattID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetFileName">
      <soap:operation soapAction="http://tempuri.org/Attachment_GetFileName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceID_InsertOrUpdateDeviceID">
      <soap:operation soapAction="http://tempuri.org/DeviceID_InsertOrUpdateDeviceID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ILeave_OtherSoap12" type="tns:ILeave_OtherSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test_GetList">
      <soap12:operation soapAction="http://tempuri.org/Test_GetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByFirstEid">
      <soap12:operation soapAction="http://tempuri.org/Announce_GetAnnouncementByFirstEid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByAnncounceID">
      <soap12:operation soapAction="http://tempuri.org/Announce_GetAnnouncementByAnncounceID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_ReadAnnounce">
      <soap12:operation soapAction="http://tempuri.org/Announce_ReadAnnounce" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetUnReadAnnouncement">
      <soap12:operation soapAction="http://tempuri.org/Announce_GetUnReadAnnouncement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetReadAnnouncementID">
      <soap12:operation soapAction="http://tempuri.org/Announce_GetReadAnnouncementID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAttachementByAnnounceID">
      <soap12:operation soapAction="http://tempuri.org/Announce_GetAttachementByAnnounceID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetAttachmentByte">
      <soap12:operation soapAction="http://tempuri.org/Attachment_GetAttachmentByte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachementByattID">
      <soap12:operation soapAction="http://tempuri.org/GetAttachementByattID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetFileName">
      <soap12:operation soapAction="http://tempuri.org/Attachment_GetFileName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceID_InsertOrUpdateDeviceID">
      <soap12:operation soapAction="http://tempuri.org/DeviceID_InsertOrUpdateDeviceID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ILeave_OtherHttpPost" type="tns:ILeave_OtherHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Test_GetList">
      <http:operation location="/Test_GetList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByFirstEid">
      <http:operation location="/Announce_GetAnnouncementByFirstEid" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAnnouncementByAnncounceID">
      <http:operation location="/Announce_GetAnnouncementByAnncounceID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_ReadAnnounce">
      <http:operation location="/Announce_ReadAnnounce" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Announce_GetUnReadAnnouncement">
      <http:operation location="/Announce_GetUnReadAnnouncement" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetReadAnnouncementID">
      <http:operation location="/Announce_GetReadAnnouncementID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Announce_GetAttachementByAnnounceID">
      <http:operation location="/Announce_GetAttachementByAnnounceID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetAttachmentByte">
      <http:operation location="/Attachment_GetAttachmentByte" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachementByattID">
      <http:operation location="/GetAttachementByattID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Attachment_GetFileName">
      <http:operation location="/Attachment_GetFileName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceID_InsertOrUpdateDeviceID">
      <http:operation location="/DeviceID_InsertOrUpdateDeviceID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ILeave_Other">
    <wsdl:port name="ILeave_OtherSoap" binding="tns:ILeave_OtherSoap">
      <soap:address location="http://192.168.66.100:9000/bll/ileave_other.asmx" />
    </wsdl:port>
    <wsdl:port name="ILeave_OtherSoap12" binding="tns:ILeave_OtherSoap12">
      <soap12:address location="http://192.168.66.100:9000/bll/ileave_other.asmx" />
    </wsdl:port>
    <wsdl:port name="ILeave_OtherHttpPost" binding="tns:ILeave_OtherHttpPost">
      <http:address location="http://192.168.66.100:9000/bll/ileave_other.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>