WebServiceLayer/Web References/WebReference_codesettings/CodeSettingsV2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllLeaveInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetAllLeaveInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllLeaveInfoResult" type="tns:ArrayOfLeaveInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLeaveInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LeaveInfo" nillable="true" type="tns:LeaveInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LeaveInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PayRatio" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAverageDailyRate" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PortalStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAccumulableLeave" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsEnforceAttachment" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsInclude713" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountCodeLeave" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PaySlipReportGroup" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAdjustInNextMonth" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="LeaveNotes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntitleEffectiveDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsIncludeGratuity" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="AccumulableLeaveType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EntitledBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplyRequirement" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LeaveExpiryAfterValue" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LeaveAllowApplyBeforeValue" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LeaveExpiryAfterUnit" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LeaveAllowApplyBeforeUnit" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsEnableAdvanceLeaveOnPortal" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LaunchCondition" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ALRoundUpOption" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="CommonLeaveYear" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCompareEOLeave" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CarryForwardBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GrantEntitlementMethod" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EntitleExpiryWays" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EntitleExpiryByAfterCarryForwardDateInMonth" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EntitleExpiryByAfterCarryForwardDateInDay" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EntitleExpiryBySpecificDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BackpayPayitemTypeID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsUseTwelveMonthDailyRateInConsecutiveDay" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxEntitlementFrequency" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsEnableAdvanceLeaveOnYearEnd" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="AttachmentTolerance" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSystemParameter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSystemParameterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSystemParameterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShiftInfoByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="shiftid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetShiftInfoByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetShiftInfoByIDResult" type="tns:Shift" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Shift">
        <s:complexContent mixed="false">
          <s:extension base="tns:BasicShift">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="LunchIn" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LunchOut" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsExcludeLunchHour" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ExcludeLunchHour" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsSpecialShift" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="SpecialShiftRatio" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="ModifiedDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="ModifiedUser" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateUser" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Counter" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsExcludeMealBreakInTopup" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="TotalNightShift" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsSpecialTimePeriod" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="SpecialTimePeriodFrom" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="SpecialTimePeriodTo" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="SpecialTimePeriodHourlyRate" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="TotalSpecialTimePeriodHour" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="HourlyRate" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="LunchHour" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="AMWorkingHour" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="PMWorkingHour" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="DayToConvert" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="SwapToLeave" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="SwapToLeaveMissingInOrOut" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="LookUpShiftType" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="DailyRate" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="IsOverNight" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="DutyLocationID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="cpList" type="tns:ArrayOfT_CustomProp" />
              <s:element minOccurs="1" maxOccurs="1" name="Section" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsNoPaidRestDay" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="PayItemTypeID" nillable="true" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BasicShift">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BankOnTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="BankOffTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalWorkHour" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="MainShift" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ShiftType" type="s:unsignedByte" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfT_CustomProp">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="t_CustomProp" nillable="true" type="tns:t_CustomProp" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="t_CustomProp">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PropCfgID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RelatedID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateUser" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedUser" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteOverlapRangeFromDate1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startDate1" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate1" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate2" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate2" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteOverlapRangeFromDate1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="newStart1" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="newEnd1" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="newStart2" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="newEnd2" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRealTotal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startDate1" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate1" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate2" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate2" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRealTotalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRealTotalResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanyCode">
        <s:complexType />
      </s:element>
      <s:element name="GetCompanyCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompanyCodeResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExecSqlCommand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecSqlCommandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecSqlCommandResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecFn_checkmsg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="uid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="eid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ssid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lat" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="lng" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="checkedtime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecFn_checkmsgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecFn_checkmsgResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLeaveSections">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="leaveClass" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="position" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLeaveSectionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLeaveSectionsResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfLeaveInfo" nillable="true" type="tns:ArrayOfLeaveInfo" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="Shift" nillable="true" type="tns:Shift" />
      <s:element name="double" type="s:double" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="ArrayOfInt" nillable="true" type="tns:ArrayOfInt" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllLeaveInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllLeaveInfo" />
  </wsdl:message>
  <wsdl:message name="GetAllLeaveInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllLeaveInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetSystemParameterSoapIn">
    <wsdl:part name="parameters" element="tns:GetSystemParameter" />
  </wsdl:message>
  <wsdl:message name="GetSystemParameterSoapOut">
    <wsdl:part name="parameters" element="tns:GetSystemParameterResponse" />
  </wsdl:message>
  <wsdl:message name="GetShiftInfoByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetShiftInfoByID" />
  </wsdl:message>
  <wsdl:message name="GetShiftInfoByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetShiftInfoByIDResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteOverlapRangeFromDate1SoapIn">
    <wsdl:part name="parameters" element="tns:DeleteOverlapRangeFromDate1" />
  </wsdl:message>
  <wsdl:message name="DeleteOverlapRangeFromDate1SoapOut">
    <wsdl:part name="parameters" element="tns:DeleteOverlapRangeFromDate1Response" />
  </wsdl:message>
  <wsdl:message name="GetRealTotalSoapIn">
    <wsdl:part name="parameters" element="tns:GetRealTotal" />
  </wsdl:message>
  <wsdl:message name="GetRealTotalSoapOut">
    <wsdl:part name="parameters" element="tns:GetRealTotalResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompanyCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompanyCode" />
  </wsdl:message>
  <wsdl:message name="GetCompanyCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompanyCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ExecSqlCommandSoapIn">
    <wsdl:part name="parameters" element="tns:ExecSqlCommand" />
  </wsdl:message>
  <wsdl:message name="ExecSqlCommandSoapOut">
    <wsdl:part name="parameters" element="tns:ExecSqlCommandResponse" />
  </wsdl:message>
  <wsdl:message name="ExecFn_checkmsgSoapIn">
    <wsdl:part name="parameters" element="tns:ExecFn_checkmsg" />
  </wsdl:message>
  <wsdl:message name="ExecFn_checkmsgSoapOut">
    <wsdl:part name="parameters" element="tns:ExecFn_checkmsgResponse" />
  </wsdl:message>
  <wsdl:message name="GetLeaveSectionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLeaveSections" />
  </wsdl:message>
  <wsdl:message name="GetLeaveSectionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLeaveSectionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllLeaveInfoHttpPostIn" />
  <wsdl:message name="GetAllLeaveInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLeaveInfo" />
  </wsdl:message>
  <wsdl:message name="GetSystemParameterHttpPostIn">
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSystemParameterHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetShiftInfoByIDHttpPostIn">
    <wsdl:part name="shiftid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetShiftInfoByIDHttpPostOut">
    <wsdl:part name="Body" element="tns:Shift" />
  </wsdl:message>
  <wsdl:message name="GetRealTotalHttpPostIn">
    <wsdl:part name="startDate1" type="s:string" />
    <wsdl:part name="endDate1" type="s:string" />
    <wsdl:part name="startDate2" type="s:string" />
    <wsdl:part name="endDate2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetRealTotalHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="GetCompanyCodeHttpPostIn" />
  <wsdl:message name="GetCompanyCodeHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="ExecSqlCommandHttpPostIn">
    <wsdl:part name="sql" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExecSqlCommandHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ExecFn_checkmsgHttpPostIn">
    <wsdl:part name="uid" type="s:string" />
    <wsdl:part name="eid" type="s:string" />
    <wsdl:part name="ssid" type="s:string" />
    <wsdl:part name="lat" type="s:string" />
    <wsdl:part name="lng" type="s:string" />
    <wsdl:part name="checkedtime" type="s:string" />
    <wsdl:part name="lang" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExecFn_checkmsgHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetLeaveSectionsHttpPostIn">
    <wsdl:part name="leaveClass" type="s:string" />
    <wsdl:part name="position" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLeaveSectionsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfInt" />
  </wsdl:message>
  <wsdl:portType name="CodeSettingsV2Soap">
    <wsdl:operation name="GetAllLeaveInfo">
      <wsdl:input message="tns:GetAllLeaveInfoSoapIn" />
      <wsdl:output message="tns:GetAllLeaveInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemParameter">
      <wsdl:input message="tns:GetSystemParameterSoapIn" />
      <wsdl:output message="tns:GetSystemParameterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetShiftInfoByID">
      <wsdl:input message="tns:GetShiftInfoByIDSoapIn" />
      <wsdl:output message="tns:GetShiftInfoByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOverlapRangeFromDate1">
      <wsdl:input message="tns:DeleteOverlapRangeFromDate1SoapIn" />
      <wsdl:output message="tns:DeleteOverlapRangeFromDate1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRealTotal">
      <wsdl:input message="tns:GetRealTotalSoapIn" />
      <wsdl:output message="tns:GetRealTotalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyCode">
      <wsdl:input message="tns:GetCompanyCodeSoapIn" />
      <wsdl:output message="tns:GetCompanyCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecSqlCommand">
      <wsdl:input message="tns:ExecSqlCommandSoapIn" />
      <wsdl:output message="tns:ExecSqlCommandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecFn_checkmsg">
      <wsdl:input message="tns:ExecFn_checkmsgSoapIn" />
      <wsdl:output message="tns:ExecFn_checkmsgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLeaveSections">
      <wsdl:input message="tns:GetLeaveSectionsSoapIn" />
      <wsdl:output message="tns:GetLeaveSectionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CodeSettingsV2HttpPost">
    <wsdl:operation name="GetAllLeaveInfo">
      <wsdl:input message="tns:GetAllLeaveInfoHttpPostIn" />
      <wsdl:output message="tns:GetAllLeaveInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemParameter">
      <wsdl:input message="tns:GetSystemParameterHttpPostIn" />
      <wsdl:output message="tns:GetSystemParameterHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetShiftInfoByID">
      <wsdl:input message="tns:GetShiftInfoByIDHttpPostIn" />
      <wsdl:output message="tns:GetShiftInfoByIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRealTotal">
      <wsdl:input message="tns:GetRealTotalHttpPostIn" />
      <wsdl:output message="tns:GetRealTotalHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyCode">
      <wsdl:input message="tns:GetCompanyCodeHttpPostIn" />
      <wsdl:output message="tns:GetCompanyCodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecSqlCommand">
      <wsdl:input message="tns:ExecSqlCommandHttpPostIn" />
      <wsdl:output message="tns:ExecSqlCommandHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecFn_checkmsg">
      <wsdl:input message="tns:ExecFn_checkmsgHttpPostIn" />
      <wsdl:output message="tns:ExecFn_checkmsgHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLeaveSections">
      <wsdl:input message="tns:GetLeaveSectionsHttpPostIn" />
      <wsdl:output message="tns:GetLeaveSectionsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CodeSettingsV2Soap" type="tns:CodeSettingsV2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllLeaveInfo">
      <soap:operation soapAction="http://tempuri.org/GetAllLeaveInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemParameter">
      <soap:operation soapAction="http://tempuri.org/GetSystemParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShiftInfoByID">
      <soap:operation soapAction="http://tempuri.org/GetShiftInfoByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOverlapRangeFromDate1">
      <soap:operation soapAction="http://tempuri.org/DeleteOverlapRangeFromDate1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRealTotal">
      <soap:operation soapAction="http://tempuri.org/GetRealTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyCode">
      <soap:operation soapAction="http://tempuri.org/GetCompanyCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecSqlCommand">
      <soap:operation soapAction="http://tempuri.org/ExecSqlCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecFn_checkmsg">
      <soap:operation soapAction="http://tempuri.org/ExecFn_checkmsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeaveSections">
      <soap:operation soapAction="http://tempuri.org/GetLeaveSections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CodeSettingsV2Soap12" type="tns:CodeSettingsV2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllLeaveInfo">
      <soap12:operation soapAction="http://tempuri.org/GetAllLeaveInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemParameter">
      <soap12:operation soapAction="http://tempuri.org/GetSystemParameter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShiftInfoByID">
      <soap12:operation soapAction="http://tempuri.org/GetShiftInfoByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOverlapRangeFromDate1">
      <soap12:operation soapAction="http://tempuri.org/DeleteOverlapRangeFromDate1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRealTotal">
      <soap12:operation soapAction="http://tempuri.org/GetRealTotal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyCode">
      <soap12:operation soapAction="http://tempuri.org/GetCompanyCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecSqlCommand">
      <soap12:operation soapAction="http://tempuri.org/ExecSqlCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecFn_checkmsg">
      <soap12:operation soapAction="http://tempuri.org/ExecFn_checkmsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeaveSections">
      <soap12:operation soapAction="http://tempuri.org/GetLeaveSections" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CodeSettingsV2HttpPost" type="tns:CodeSettingsV2HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetAllLeaveInfo">
      <http:operation location="/GetAllLeaveInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemParameter">
      <http:operation location="/GetSystemParameter" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShiftInfoByID">
      <http:operation location="/GetShiftInfoByID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRealTotal">
      <http:operation location="/GetRealTotal" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyCode">
      <http:operation location="/GetCompanyCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecSqlCommand">
      <http:operation location="/ExecSqlCommand" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecFn_checkmsg">
      <http:operation location="/ExecFn_checkmsg" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeaveSections">
      <http:operation location="/GetLeaveSections" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CodeSettingsV2">
    <wsdl:port name="CodeSettingsV2Soap" binding="tns:CodeSettingsV2Soap">
      <soap:address location="http://192.168.66.100:8888/dw-ihr/bll/ServicesWithSession/CodeSettingsV2.asmx" />
    </wsdl:port>
    <wsdl:port name="CodeSettingsV2Soap12" binding="tns:CodeSettingsV2Soap12">
      <soap12:address location="http://192.168.66.100:8888/dw-ihr/bll/ServicesWithSession/CodeSettingsV2.asmx" />
    </wsdl:port>
    <wsdl:port name="CodeSettingsV2HttpPost" binding="tns:CodeSettingsV2HttpPost">
      <http:address location="http://192.168.66.100:8888/dw-ihr/bll/ServicesWithSession/CodeSettingsV2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>