DAL/Web References/WebReference_leave/LeaveManagementV2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertOnlineLeaveApplicationRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="poStaffLeaveRequest" type="tns:ArrayOfStaffLeaveRequest" />
            <s:element minOccurs="1" maxOccurs="1" name="p_enumStatus" type="tns:ApprovalRequestStatus" />
            <s:element minOccurs="1" maxOccurs="1" name="piUserID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="piWorkflowDelegationToStaffID" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStaffLeaveRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StaffLeaveRequest" nillable="true" type="tns:StaffLeaveRequest" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StaffLeaveRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EmploymentID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LeaveID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LeaveTypeName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LeaveDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsHalfDay" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Unit" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeleteKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Section" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmploymentNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompareKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NameCH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HolidayCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LeaveCalculationTypeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LeaveCalculationTypeDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FirstEmploymentID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstEmploymentNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsApproved" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DelegationToStaffID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LeaveHours" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalWorkHours" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Sections" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="LeaveHoursFrom" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LeaveHoursTo" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DisplaySection" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayUnit" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ApprovalRequestStatus">
        <s:restriction base="s:string">
          <s:enumeration value="SENDEMAIL" />
          <s:enumeration value="NEW" />
          <s:enumeration value="WAIT_FOR_APPROVE" />
          <s:enumeration value="APPROVE" />
          <s:enumeration value="REJECT" />
          <s:enumeration value="CANCEL" />
          <s:enumeration value="WAIT_FOR_CANCEL" />
          <s:enumeration value="CONFIRM_CANCEL" />
        </s:restriction>
      </s:simpleType>
      <s:element name="InsertOnlineLeaveApplicationRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertOnlineLeaveApplicationRequestResult" type="tns:ErrorMessageInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ErrorMessageInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProcessID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProcessIDList" type="tns:ArrayOfInt" />
          <s:element minOccurs="1" maxOccurs="1" name="AffectedRecordCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompletedRatio" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMessageList" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessageList" type="tns:ArrayOfErrorMessageItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfErrorMessageItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ErrorMessageItem" nillable="true" type="tns:ErrorMessageItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ErrorMessageItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsMessageList" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageParameter1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageParameter2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageParameter3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Severity" type="tns:ErrorMessageSeverity" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ErrorMessageSeverity">
        <s:restriction base="s:string">
          <s:enumeration value="ERROR" />
          <s:enumeration value="WARNING" />
          <s:enumeration value="INFORMATION" />
          <s:enumeration value="VALIDATION" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetLeaveCalculationTypesForLeaveType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LeaveID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="StaffID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="EmploymentID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLeaveCalculationTypesForLeaveTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLeaveCalculationTypesForLeaveTypeResult" type="tns:ArrayOfLeaveCalculationType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLeaveCalculationType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LeaveCalculationType" nillable="true" type="tns:LeaveCalculationType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LeaveCalculationType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedUser" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateUser" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateNewRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_ExistingWorkflowTask" type="tns:MyWorkflowTask" />
            <s:element minOccurs="1" maxOccurs="1" name="TaskType" type="tns:WorkflowTypeID" />
            <s:element minOccurs="0" maxOccurs="1" name="p_ApprovalRequest" />
            <s:element minOccurs="1" maxOccurs="1" name="p_intUserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="p_strDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_strFormulatedURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="baseURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_strWorkflowInfoParameter" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="p_intLeaveRequestID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="p_intEmploymentID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MyWorkflowTask">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InOutTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WorkflowInfoID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentStep" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FormulatedURL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LeaveRequestID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedUser" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateUser" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsRead" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FromUserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EmploymentID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PositionDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToUserName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="WorkflowTypeID">
        <s:restriction base="s:string">
          <s:enumeration value="LEAVE_APPLICATION" />
          <s:enumeration value="UPDATE_PERSON_INFO" />
          <s:enumeration value="UPDATE_TRAINING_RECORD" />
          <s:enumeration value="UPDATE_QUALIFICATION_RECORD" />
          <s:enumeration value="PAYROLL_LOCK" />
          <s:enumeration value="CLOT_APPLICATION" />
          <s:enumeration value="OT_APPROVAL" />
          <s:enumeration value="MEDICAL_CLAIM" />
          <s:enumeration value="ATTENDANCE" />
          <s:enumeration value="DOCTOR_VISIT" />
          <s:enumeration value="CANCEL_LEAVE_APPLICATION" />
          <s:enumeration value="EXPENSE_CLAIM" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateNewRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateNewRequestResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOnlineStaffLeaveRecordByStaffIDBatchMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_intArrStaffID" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="p_dateStartDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="p_dateEndDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StaffLeaveDetailInBatch">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EmploymentID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmploymentNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EngName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="StartDateSection" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EndDateSection" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NoOfDays" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AttachmentID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplyDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DelegationToStaffID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FirstEmploymentID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsApproved" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfStaffLeaveDetailInBatch">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StaffLeaveDetailInBatch" nillable="true" type="tns:StaffLeaveDetailInBatch" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOnlineStaffLeaveRecordByStaffIDBatchModeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOnlineStaffLeaveRecordByStaffIDBatchModeResult" type="tns:ArrayOfStaffLeaveDetailInBatch" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOnlineStaffLeaveRecordByStaffID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_intArrStaffID" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOnlineStaffLeaveRecordByStaffIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOnlineStaffLeaveRecordByStaffIDResult" type="tns:ArrayOfStaffLeaveRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfLeaveCalculationType" nillable="true" type="tns:ArrayOfLeaveCalculationType" />
      <s:element name="ArrayOfStaffLeaveDetailInBatch" nillable="true" type="tns:ArrayOfStaffLeaveDetailInBatch" />
      <s:element name="ArrayOfStaffLeaveRequest" nillable="true" type="tns:ArrayOfStaffLeaveRequest" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertOnlineLeaveApplicationRequestSoapIn">
    <wsdl:part name="parameters" element="tns:InsertOnlineLeaveApplicationRequest" />
  </wsdl:message>
  <wsdl:message name="InsertOnlineLeaveApplicationRequestSoapOut">
    <wsdl:part name="parameters" element="tns:InsertOnlineLeaveApplicationRequestResponse" />
  </wsdl:message>
  <wsdl:message name="GetLeaveCalculationTypesForLeaveTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetLeaveCalculationTypesForLeaveType" />
  </wsdl:message>
  <wsdl:message name="GetLeaveCalculationTypesForLeaveTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetLeaveCalculationTypesForLeaveTypeResponse" />
  </wsdl:message>
  <wsdl:message name="CreateNewRequestSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewRequest" />
  </wsdl:message>
  <wsdl:message name="CreateNewRequestSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewRequestResponse" />
  </wsdl:message>
  <wsdl:message name="GetOnlineStaffLeaveRecordByStaffIDBatchModeSoapIn">
    <wsdl:part name="parameters" element="tns:GetOnlineStaffLeaveRecordByStaffIDBatchMode" />
  </wsdl:message>
  <wsdl:message name="GetOnlineStaffLeaveRecordByStaffIDBatchModeSoapOut">
    <wsdl:part name="parameters" element="tns:GetOnlineStaffLeaveRecordByStaffIDBatchModeResponse" />
  </wsdl:message>
  <wsdl:message name="GetOnlineStaffLeaveRecordByStaffIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetOnlineStaffLeaveRecordByStaffID" />
  </wsdl:message>
  <wsdl:message name="GetOnlineStaffLeaveRecordByStaffIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetOnlineStaffLeaveRecordByStaffIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetLeaveCalculationTypesForLeaveTypeHttpPostIn">
    <wsdl:part name="LeaveID" type="s:string" />
    <wsdl:part name="StaffID" type="s:string" />
    <wsdl:part name="EmploymentID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLeaveCalculationTypesForLeaveTypeHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfLeaveCalculationType" />
  </wsdl:message>
  <wsdl:message name="GetOnlineStaffLeaveRecordByStaffIDBatchModeHttpPostIn">
    <wsdl:part name="p_intArrStaffID" type="s1:StringArray" />
    <wsdl:part name="p_dateStartDate" type="s:string" />
    <wsdl:part name="p_dateEndDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetOnlineStaffLeaveRecordByStaffIDBatchModeHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfStaffLeaveDetailInBatch" />
  </wsdl:message>
  <wsdl:message name="GetOnlineStaffLeaveRecordByStaffIDHttpPostIn">
    <wsdl:part name="p_intArrStaffID" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="GetOnlineStaffLeaveRecordByStaffIDHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfStaffLeaveRequest" />
  </wsdl:message>
  <wsdl:portType name="LeaveManagementV2Soap">
    <wsdl:operation name="InsertOnlineLeaveApplicationRequest">
      <wsdl:input message="tns:InsertOnlineLeaveApplicationRequestSoapIn" />
      <wsdl:output message="tns:InsertOnlineLeaveApplicationRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLeaveCalculationTypesForLeaveType">
      <wsdl:input message="tns:GetLeaveCalculationTypesForLeaveTypeSoapIn" />
      <wsdl:output message="tns:GetLeaveCalculationTypesForLeaveTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewRequest">
      <wsdl:input message="tns:CreateNewRequestSoapIn" />
      <wsdl:output message="tns:CreateNewRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOnlineStaffLeaveRecordByStaffIDBatchMode">
      <wsdl:input message="tns:GetOnlineStaffLeaveRecordByStaffIDBatchModeSoapIn" />
      <wsdl:output message="tns:GetOnlineStaffLeaveRecordByStaffIDBatchModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOnlineStaffLeaveRecordByStaffID">
      <wsdl:input message="tns:GetOnlineStaffLeaveRecordByStaffIDSoapIn" />
      <wsdl:output message="tns:GetOnlineStaffLeaveRecordByStaffIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LeaveManagementV2HttpPost">
    <wsdl:operation name="GetLeaveCalculationTypesForLeaveType">
      <wsdl:input message="tns:GetLeaveCalculationTypesForLeaveTypeHttpPostIn" />
      <wsdl:output message="tns:GetLeaveCalculationTypesForLeaveTypeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOnlineStaffLeaveRecordByStaffIDBatchMode">
      <wsdl:input message="tns:GetOnlineStaffLeaveRecordByStaffIDBatchModeHttpPostIn" />
      <wsdl:output message="tns:GetOnlineStaffLeaveRecordByStaffIDBatchModeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOnlineStaffLeaveRecordByStaffID">
      <wsdl:input message="tns:GetOnlineStaffLeaveRecordByStaffIDHttpPostIn" />
      <wsdl:output message="tns:GetOnlineStaffLeaveRecordByStaffIDHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LeaveManagementV2Soap" type="tns:LeaveManagementV2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertOnlineLeaveApplicationRequest">
      <soap:operation soapAction="http://tempuri.org/InsertOnlineLeaveApplicationRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeaveCalculationTypesForLeaveType">
      <soap:operation soapAction="http://tempuri.org/GetLeaveCalculationTypesForLeaveType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewRequest">
      <soap:operation soapAction="http://tempuri.org/CreateNewRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnlineStaffLeaveRecordByStaffIDBatchMode">
      <soap:operation soapAction="http://tempuri.org/GetOnlineStaffLeaveRecordByStaffIDBatchMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnlineStaffLeaveRecordByStaffID">
      <soap:operation soapAction="http://tempuri.org/GetOnlineStaffLeaveRecordByStaffID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LeaveManagementV2Soap12" type="tns:LeaveManagementV2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertOnlineLeaveApplicationRequest">
      <soap12:operation soapAction="http://tempuri.org/InsertOnlineLeaveApplicationRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeaveCalculationTypesForLeaveType">
      <soap12:operation soapAction="http://tempuri.org/GetLeaveCalculationTypesForLeaveType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewRequest">
      <soap12:operation soapAction="http://tempuri.org/CreateNewRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnlineStaffLeaveRecordByStaffIDBatchMode">
      <soap12:operation soapAction="http://tempuri.org/GetOnlineStaffLeaveRecordByStaffIDBatchMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnlineStaffLeaveRecordByStaffID">
      <soap12:operation soapAction="http://tempuri.org/GetOnlineStaffLeaveRecordByStaffID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LeaveManagementV2HttpPost" type="tns:LeaveManagementV2HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetLeaveCalculationTypesForLeaveType">
      <http:operation location="/GetLeaveCalculationTypesForLeaveType" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnlineStaffLeaveRecordByStaffIDBatchMode">
      <http:operation location="/GetOnlineStaffLeaveRecordByStaffIDBatchMode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnlineStaffLeaveRecordByStaffID">
      <http:operation location="/GetOnlineStaffLeaveRecordByStaffID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LeaveManagementV2">
    <wsdl:port name="LeaveManagementV2Soap" binding="tns:LeaveManagementV2Soap">
      <soap:address location="http://192.168.19.200:8889/ServicesWithSession/LeaveManagementV2.asmx" />
    </wsdl:port>
    <wsdl:port name="LeaveManagementV2Soap12" binding="tns:LeaveManagementV2Soap12">
      <soap12:address location="http://192.168.19.200:8889/ServicesWithSession/LeaveManagementV2.asmx" />
    </wsdl:port>
    <wsdl:port name="LeaveManagementV2HttpPost" binding="tns:LeaveManagementV2HttpPost">
      <http:address location="http://192.168.19.200:8889/ServicesWithSession/LeaveManagementV2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>