WebServiceLayer/Web References/WebReference_workflow/WorkflowV2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateNewRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_ExistingWorkflowTask" type="tns:MyWorkflowTask" />
            <s:element minOccurs="1" maxOccurs="1" name="TaskType" type="tns:WorkflowTypeID" />
            <s:element minOccurs="0" maxOccurs="1" name="p_ApprovalRequest" />
            <s:element minOccurs="1" maxOccurs="1" name="createrUID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="p_strDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_strFormulatedURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="baseURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_strWorkflowInfoParameter" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="p_intLeaveRequestID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="p_intEmploymentID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MyWorkflowTask">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="InOutTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WorkflowInfoID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentStep" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FormulatedURL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LeaveRequestID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedUser" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateUser" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsRead" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FromUserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EmploymentID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PositionDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToUserName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="WorkflowTypeID">
        <s:restriction base="s:string">
          <s:enumeration value="LEAVE_APPLICATION" />
          <s:enumeration value="UPDATE_PERSON_INFO" />
          <s:enumeration value="UPDATE_TRAINING_RECORD" />
          <s:enumeration value="UPDATE_QUALIFICATION_RECORD" />
          <s:enumeration value="PAYROLL_LOCK" />
          <s:enumeration value="CLOT_APPLICATION" />
          <s:enumeration value="OT_APPROVAL" />
          <s:enumeration value="MEDICAL_CLAIM" />
          <s:enumeration value="ATTENDANCE" />
          <s:enumeration value="DOCTOR_VISIT" />
          <s:enumeration value="CANCEL_LEAVE_APPLICATION" />
          <s:enumeration value="EXPENSE_CLAIM" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateNewRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateNewRequestResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApproveRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WorkflowTaskObject" type="tns:MyWorkflowTask" />
            <s:element minOccurs="1" maxOccurs="1" name="TaskType" type="tns:WorkflowTypeID" />
            <s:element minOccurs="0" maxOccurs="1" name="p_ApprovalRequest" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FormulatedURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="baseURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApproveRequestResponse">
        <s:complexType />
      </s:element>
      <s:element name="CancelRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WorkflowTaskObject" type="tns:MyWorkflowTask" />
            <s:element minOccurs="1" maxOccurs="1" name="TaskType" type="tns:WorkflowTypeID" />
            <s:element minOccurs="0" maxOccurs="1" name="p_ApprovalRequest" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FormulatedURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="baseURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelRequestResponse">
        <s:complexType />
      </s:element>
      <s:element name="RejectRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WorkflowTaskObject" type="tns:MyWorkflowTask" />
            <s:element minOccurs="1" maxOccurs="1" name="TaskType" type="tns:WorkflowTypeID" />
            <s:element minOccurs="0" maxOccurs="1" name="p_ApprovalRequest" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="p_strDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FormulatedURL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="baseURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RejectRequestResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateNewRequestSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewRequest" />
  </wsdl:message>
  <wsdl:message name="CreateNewRequestSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ApproveRequestSoapIn">
    <wsdl:part name="parameters" element="tns:ApproveRequest" />
  </wsdl:message>
  <wsdl:message name="ApproveRequestSoapOut">
    <wsdl:part name="parameters" element="tns:ApproveRequestResponse" />
  </wsdl:message>
  <wsdl:message name="CancelRequestSoapIn">
    <wsdl:part name="parameters" element="tns:CancelRequest" />
  </wsdl:message>
  <wsdl:message name="CancelRequestSoapOut">
    <wsdl:part name="parameters" element="tns:CancelRequestResponse" />
  </wsdl:message>
  <wsdl:message name="RejectRequestSoapIn">
    <wsdl:part name="parameters" element="tns:RejectRequest" />
  </wsdl:message>
  <wsdl:message name="RejectRequestSoapOut">
    <wsdl:part name="parameters" element="tns:RejectRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="WorkflowV2Soap">
    <wsdl:operation name="CreateNewRequest">
      <wsdl:input message="tns:CreateNewRequestSoapIn" />
      <wsdl:output message="tns:CreateNewRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ApproveRequest">
      <wsdl:input message="tns:ApproveRequestSoapIn" />
      <wsdl:output message="tns:ApproveRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelRequest">
      <wsdl:input message="tns:CancelRequestSoapIn" />
      <wsdl:output message="tns:CancelRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RejectRequest">
      <wsdl:input message="tns:RejectRequestSoapIn" />
      <wsdl:output message="tns:RejectRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WorkflowV2HttpPost" />
  <wsdl:binding name="WorkflowV2Soap" type="tns:WorkflowV2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewRequest">
      <soap:operation soapAction="http://tempuri.org/CreateNewRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveRequest">
      <soap:operation soapAction="http://tempuri.org/ApproveRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelRequest">
      <soap:operation soapAction="http://tempuri.org/CancelRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectRequest">
      <soap:operation soapAction="http://tempuri.org/RejectRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WorkflowV2Soap12" type="tns:WorkflowV2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewRequest">
      <soap12:operation soapAction="http://tempuri.org/CreateNewRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveRequest">
      <soap12:operation soapAction="http://tempuri.org/ApproveRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelRequest">
      <soap12:operation soapAction="http://tempuri.org/CancelRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectRequest">
      <soap12:operation soapAction="http://tempuri.org/RejectRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WorkflowV2HttpPost" type="tns:WorkflowV2HttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WorkflowV2">
    <wsdl:port name="WorkflowV2Soap" binding="tns:WorkflowV2Soap">
      <soap:address location="http://192.168.19.200:8889/ServicesWithSession/WorkflowV2.asmx" />
    </wsdl:port>
    <wsdl:port name="WorkflowV2Soap12" binding="tns:WorkflowV2Soap12">
      <soap12:address location="http://192.168.19.200:8889/ServicesWithSession/WorkflowV2.asmx" />
    </wsdl:port>
    <wsdl:port name="WorkflowV2HttpPost" binding="tns:WorkflowV2HttpPost">
      <http:address location="http://192.168.19.200:8889/ServicesWithSession/WorkflowV2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>